<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="MyConnection"
			 connectionString="Data Source=DESKTOP-J0TSL10;Initial Catalog=db_users;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>